{% load static %}
{% load i18n %}

<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <script src="{% static 'home/js/javascript.js' %}"></script>
    <title>{% translate "Lost Ark - Engraving Generator" %}</title>
    <link rel="icon" type="image/x-icon" href="/home/fav/favicon.png">
    <meta name="description" content="Lost Ark engraving calculator for better equipment planning!">
    <meta name="keywords" content="lost ark, engraving, calculator, planner, tool, easy">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WQCDFRNF2T"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-WQCDFRNF2T');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9767790232960458"
     crossorigin="anonymous"></script>
</head>

<body>
    <div class="nav-wrapper">
        <nav class="menu-container">
          <ul class="menu">
            <div class="left-container">
              <div class="left-elements">
                <span class="gerador-build-text">{% translate 'Want to be notified when you have Rapport Legendary or Wei via Telegram?'%}<br></span>
                <div class="button button-lostmerchant" id="button-5">
                  <div id="translate"></div> 
                  <a href="/merchantbot/" class="button-link">Lost Merchant Bot</a>
                </div>
              </div>

              
      
              <div class="right-elements">
                <span class="gerador-build-text">{% translate 'Get in touch if you have any question.'%}<br></span>
                <div class="button button-duvidas" id="button-5">
                  <div id="translate"></div> 
                  <a href="/duvidas/" class="button-link">{% translate 'contact'%}</a>
                </div>
              </div>
            </div>
          </ul>
        </nav>
      </div>

    <div class="botao-container">
      <button id="help-button" type="button" ontouchstart="">

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" height="100" width="100" class="kf1">
    
            <path id="dot" d="m 48.022097,82.90284 c 1.192314,-0.02147 2.173956,-0.831358 2.185365,-1.947038 0.01141,-1.11568 -0.973891,-2.270335 -2.185365,-2.278068 -1.247604,-0.008 -2.049902,1.054459 -2.03911,2.278072 0.01079,1.223613 1.240139,1.949581 1.984264,1.946573 C 57.764626,82.851586 72.086342,84.492783 81.015625,76 91.923664,65.625191 88.415613,45.865135 71.020037,29.046254 L 30.007844,69.947962 c -3.245469,3.236726 -4.128897,8.694076 0.573223,11.799844 4.30204,2.841515 11.355956,1.079354 17.44103,1.155034 z" style="opacity:1;fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1" />
            <path id="qmark" d="M 29.387754,29.397748 70.99794,71.030719 C 85.063599,67.076558 71.518598,50.054823 65.044194,64.589689 61.518139,72.50559 47.419888,77.236862 48,66.0625 L 47.97278,56.999069 C 52.628822,58.147585 74.845345,50.150007 66.202876,27.78672 61.644451,15.991323 38.55285,10.038018 29.387754,29.397748 Z" style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4	;stroke-opacity:1" />
        </svg>
    
    </button>

      <label id="btnExplanation" class="botao-explicacao">{% translate 'Find out how to use our tool!'%}</label>
      <div id="tooltip" class="hidden">
          <h2 class="h2-custom">{% translate "Welcome to our app for creating engraver builds for Lost Ark!" %}</h2>
          <p class='text-explicacao'>{% translate "With our tool, you can automatically generate an ideal engraves build for your character, intelligently distributing the points in accessories, stone skills and engraves slots. Allow me to explain how it works:" %}</p>
          <h3 class="h3-custom">{% translate "Step 1: Choose your class" %}</h3>
          <p class='text-explicacao'>{% translate "To get started, select your game class." %}</p>
          <h3 class="h3-custom">{% translate "Step 2: Choose combat and class engraves" %}</h3>
          <p class='text-explicacao'>{% translate "After selecting your class, you will be able to choose from 4 to 5 combat engravings and up to 2 class." %}</p>
          <div style="color: #FF0000;">
            <p>{% translate "*If 6 skills are selected, the last one selected will be the sixth engraver." %}</p>
          </div>
          <h3 class="h3-custom">{% translate "Step 3: Use the filters for a more accurate calculation (optional)" %}</h3>
          <p class='text-explicacao'>{% translate "For even greater precision in the distribution of engrave points, we offer filters on the right of the screen. With it, you can define specific criteria, such as prioritizing a certain attribute or balancing the engrave points between different areas of your character. This option is completely optional, but it can be useful to further enhance your build." %}</p>
          <h3 class="h3-custom">{% translate "Step 4: Generate your engraves build" %}</h3>
          <p class='text-explicacao'>{% translate "Once you've made your class choices, combat engraves, and class engraves, it's time to generate your engraves build. Our system will automatically distribute engrave points on accessories, ability stones and engrave slots, no more suffering to create builds, right?" %}</p>
          <h3 class="h3-custom">{% translate "Step 5: Edit your build (optional)" %}</h3>
          <p class='text-explicacao'>{% translate "After the build is generated, you will have the option to make edits if you are not completely satisfied with the result. You can manually adjust the engrave points on each accessory, ability stone or slot to customize the build to your preferences." %}</p>
          <div style="color: #00B4FF;">
            <p>{% translate "Our goal is to make the process of creating engraver builds for the Lost Ark easier and faster, allowing you to get the most out of your character!" %}</p>
          </div>
          <div style="color: red">
            <p>{% translate "**Our tool is in beta testing phase. If you find any bugs, please report them to us so we can fix them." %}</p>
          </div>
        </div>
      </div>
    </div>



<form method="POST" id="abilitiesForm">
        {% csrf_token %}
    
<div class="flex-container">
    <div class="class-selection">
        <label for="character_class" class="character_class_label section-title">{% translate "Choose your class:" %}</label>
        <div class="character_classes">
            {% for character in character_class %}
            <input type="checkbox" id="{{ character }}" name="character_class" value="{{ character }}" class="abilityCheckbox">
            <label for="{{ character }}" class="character_classContainer">
                <div class="frame"></div>
                <div class="characterContent">
                    <img src="{% static 'home/class_icons/'|add:character|add:'.png' %}" alt="{{ character }}">
                    <span>{{ character }}</span>
                </div>
            </label>
            {% endfor %}
        </div>

        <br><br>
        <label for="abilities" class="abilities_label section-title">{% translate "Choose combat engraves:" %}</label>
        <div class="abilities">
            {% for ability in abilities %}
            <input type="checkbox" id="{{ ability }}" name="abilities" value="{{ ability }}" class="abilityCheckbox">
            <div class="abilityContainer">
                <label for="{{ ability }}" class="abilityContent">
                    <img src="{% static 'home/images_engravings/'|add:ability|add:'.jpg' %}" alt="{{ ability }}">
                    {{ ability }}
                </label>
            </div>
        {% endfor %}       
        </div>
        <br><br>
        <div class="class-abilities-container">
            <label for="class_abilities" class="class_abilities_label section-title">{% translate "Choose class engraves:" %}</label>
            <div class="class_abilities">
                {% for class_ability in class_abilities %}
                <input type="checkbox" id="{{ class_ability }}" name="class_abilities" value="{{ class_ability }}" class="abilityCheckbox" id="classAbilitiesCheckbox">
                <div class="abilityContainer">
                    <label for="{{ class_ability }}" class="abilityContent">
                        <img src="{% static 'home/images_engravings/'|add:class_ability|add:'.jpg' %}" alt="{{ class_ability }}">
                        {{ class_ability }}
                    </label>
                </div>
            {% endfor %}           
            </div>
        </div>
    </div>

    <div class="filter-section">
        <h1>{% translate "Filters:" %}</h1>
        <div class="filter-options">
            <div class="option">
                <input class="filter-checkbox" type="checkbox" id="stoneCheck" name="stoneCheck" value="True">
                <label for="stoneCheck"><span class="custom-checkbox"></span> {% translate "Do you have a 9-7 or 7-9 stone?" %}</label>
            </div>
            <div class="option">
                <input class="filter-checkbox" type="checkbox" id="ancientCheck" name="ancientCheck" value="True">
                <label for="ancientCheck"><span class="custom-checkbox"></span> {% translate "Can the character use ancient itens?" %}</label>
            </div>
            <div class="option">
                <input class="filter-checkbox" type="checkbox" id="engraving12x12Check" name="engraving12x12Check" value="True">
                <label for="engraving12x12Check"><span class="custom-checkbox"></span> {% translate "Use two engraving slots with 12 skill points." %}</label>
            </div>
            <div class="option">
                <input class="filter-checkbox" type="checkbox" id="engravingclassCheck" name="engravingclassCheck" value="True">
                <label for="engravingclassCheck"><span class="custom-checkbox"></span> {% translate "Prioritize class skill in engrave slot." %}</label>
            </div>
    </div>
        <button class="filter-button">{% translate "Generate build" %}</button>
        
    </div>

    </form>

    <footer id="rodape">
        <div class="footer left-content">
            <p>
                {% translate "Did you find value in this project? Consider" %}
                <a href="https://nubank.com.br/pagar/xgnnu/wAhoMYA3vm" target="_blank" onclick="window.open(this.href, 'popup', 'width=1041,height=865'); return false;">
                {% translate "donate" %}
                </a>
                {% translate "to help maintain and constantly update this tool, keeping it available to you at all times!" %}
            </p>
        </div>
        <div class="footer right-content">
            {% translate "Developed by" %}
            <a href="mailto:renatodev4@gmail.com?subject=Contato Profissional">Renato Moraes</a>
        </div>
    </footer>

    <script>
        // Adicione o evento de click para todos os checkboxes de 'character_class'
        document.querySelectorAll('.character_classes .abilityCheckbox').forEach(function(checkbox) {
            checkbox.addEventListener('click', function() {
                // Verifica se apenas um checkbox de 'character_class' foi selecionado
                if(document.querySelectorAll('.character_classes .abilityCheckbox:checked').length === 1) {
                    // Se sim, rola para o rótulo 'Escolha as habilidades de combat:'
                    document.querySelector('label[for="abilities"]').scrollIntoView({behavior: 'smooth'});
                }
            });
        });
    
        // Adicione o evento de click para todos os checkboxes de 'abilities'
        document.querySelectorAll('.abilities .abilityCheckbox').forEach(function(checkbox) {
            checkbox.addEventListener('click', function() {
                // Verifica se quatro ou cinco checkboxes de 'abilities' foram selecionados
                let abilitiesSelected = document.querySelectorAll('.abilities .abilityCheckbox:checked').length;
                if(abilitiesSelected === 4 || abilitiesSelected === 5) {
                    // Se sim, rola para o rótulo 'Escolha as habilidades de classe:'
                    document.querySelector('label[for="class_abilities"]').scrollIntoView({behavior: 'smooth'});
                }
            });
        });
    
        // Adicione o evento de click para todos os checkboxes de 'class_abilities'
        document.querySelectorAll('.class_abilities .abilityCheckbox').forEach(function(checkbox) {
            checkbox.addEventListener('click', function() {
                // Verifica se apenas um checkbox de 'class_abilities' foi selecionado
                if(document.querySelectorAll('.class_abilities .abilityCheckbox:checked').length === 1) {
                    // Se sim, rola para o topo da página
                    window.scrollTo({top: 0, behavior: 'smooth'});
                    
                    // Faz o botão "Gerar build" pulsar
                    document.querySelector('.filter-button').classList.add('pulsing');
                }
            });
        });

        // Nuuvem botão explicar
        const btnExplanation = document.getElementById("btnExplanation");
        const tooltip = document.getElementById("tooltip");
        const helpButton = document.querySelector("#help-button");
        
        let clicked = false;
        let flipped = false;
        
        helpButton.onclick = () => {
          clicked ^= 1;
          flipped ^= 1 & clicked;
        
          const nextClass = flipped ? "kf3" : "kf1";
          helpButton.className = clicked ? "kf2" : nextClass;
        
          if (clicked) {
            tooltip.classList.remove("hidden");
          } else {
            tooltip.classList.add("hidden");
          }
        };

        // Para salvar o estado do formulário
        document.getElementById("abilitiesForm").addEventListener("submit", function(){
            var form = document.getElementById("abilitiesForm");
            for (var i = 0; i < form.elements.length; i++) {
                if (form.elements[i].type == "checkbox") {
                    localStorage.setItem(form.elements[i].id, form.elements[i].checked);
                }
            }
        });

        // Para carregar o estado do formulário
        window.onload = function() {
            var form = document.getElementById("abilitiesForm");
            for (var i = 0; i < form.elements.length; i++) {
                if (form.elements[i].type == "checkbox") {
                    form.elements[i].checked = localStorage.getItem(form.elements[i].id) == "true" ? true : false;
                }
            }
        }

        

    </script>

</body>