{% load custom_filters %}
{% load static %}
{% load i18n%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% for character in character_class %}
    <title>{% translate "Build generated" %} - {{ character }}</title>
    {% endfor %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/css/resultado_style.css' %}">
    
</head>

<body>

  {% for character in character_class %}
  <img id="class-bg" src="{% static 'home/background_class/'|add:character|add:'.png' %}" alt="{{ character }}">
  {% endfor %}

  <nav class="menu-container">
    <ul class="menu">
      <div class="left-container">
        <div class="left-elements">
          <span class="edit-text">{% translate "You can edit your build as needed:" %}<br></span>
          <div class="button" id="button-5">
            <div id="translate"></div>      
            <a id="editButton">{% translate "Edit" %}</a>
          </div>
        </div>
        
        <div class="right-elements">
          <span class="rebuild-text">{% translate "Didn't like the build? We re-calculate it for you!" %}<br></span>
          <div class="button button-rebuild" id="button-5">
            <div id="translate"></div> 
            <a href="#" onclick="location.reload();">Rebuild</a>
          </div>
        </div>
      </div>
      
      <div class="position-right">
        <span class="rebuild-text">{% translate "Back to skill selection menu:" %}<br></span>
        <div class="button button-homepage" id="button-5">
          <div id="translate"></div> 
          <a href="">{% translate "Go back" %}</a>
        </div>
      </div>
    </ul>
  </nav>

  <div class="points-distribution">
    <h3 class="points-text">{% translate "Distribution Points" %}</h3>
    <ul id="pointsDistribution">
      {% for ability, points in points_distribution.items %}
      <li>
        <div class="pointsContainer">
          <img src="{% static 'home/images_engravings/'|add:ability|add:'.jpg' %}" alt="{{ ability }}">
          <span id="abilityPoints_{{ ability|slugify }}"></span>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>



  {% comment %} Necklace {% endcomment %}
  <div class="content-wrapper">
    <h3 class="centered-text">{% translate "Accessories" %}</h3>
    <ul class="accessories-list">
      <li>
        <div>
          <img class="accessories_img" src="{% static 'home/itens_icon/acc_204.png' %}" alt="">
        </div>
        {% for point, ability in necklace_points|zip_lists:necklace_abilities %}
        <div class="abilityGroup">
          <div class="abilityContainer {% if editing %}editing{% endif %}">
            <div class="imgContainer">
              <img src="{% static 'home/images_engravings/'|add:ability|add:'.jpg' %}" alt="{{ ability }}">
            </div>
            <div class="pointContainer">
              <input type="text" class="editablePoint small-input revertable" value="{{ point }}" readonly oninput="validateInput(this, 3, 6)"> -&nbsp;
            </div>
            <div class="abilityContainer">
              <select class="editableAbility" disabled>
                <option selected value="{{ ability }}">{{ ability }}</option>
              </select>
            </div>
          </div>
        </div>
        {% endfor %}

      </li>
    </ul>
    <select id="abilitiesList" style="display: none;">
      {% for ability in abilities %}
      <option value="{{ ability }}">{{ ability }}</option>
      {% endfor %}
    </select>
  </div>

   {% comment %} Earring 1 {% endcomment %}
  <ul class="accessories-list">
    <li>
      <div>
        <img class="accessories_img" src="{% static 'home/itens_icon/acc_104.png' %}" alt="">
      </div>
      {% for point, ability in earrings1_points|zip_lists:earrings1_abilities %}
      <div class="abilityGroup">
        <div class="abilityContainer {% if editing %}editing{% endif %}">
          <div class="imgContainer">
            <img src="{% static 'home/images_engravings/'|add:ability|add:'.jpg' %}" alt="{{ ability }}">
          </div>
          <div class="pointContainer">
            <input type="text" class="editablePoint small-input revertable" value="{{ point }}" readonly oninput="validateInput(this, 3, 6)"> -&nbsp;
          </div>
          <div class="abilityContainer">
            <select class="editableAbility" disabled>
              <option selected value="{{ ability }}">{{ ability }}</option>
            </select>
          </div>
        </div>
      </div>
      {% endfor %}
    </li>
  </ul>
  
  {% comment %} Earring 2 {% endcomment %}
  <ul class="accessories-list">
    <li>
      <div>
        <img class="accessories_img" src="{% static 'home/itens_icon/acc_104.png' %}" alt="">
      </div>
      {% for point, ability in earrings2_points|zip_lists:earrings2_abilities %}
      <div class="abilityGroup">
        <div class="abilityContainer {% if editing %}editing{% endif %}">
          <div class="imgContainer">
            <img src="{% static 'home/images_engravings/'|add:ability|add:'.jpg' %}" alt="{{ ability }}">
          </div>
          <div class="pointContainer">
            <input type="text" class="editablePoint small-input revertable" value="{{ point }}" readonly oninput="validateInput(this, 3, 6)"> -&nbsp;
          </div>
          <div class="abilityContainer">
            <select class="editableAbility" disabled>
              <option selected value="{{ ability }}">{{ ability }}</option>
            </select>
          </div>
        </div>
      </div>
      {% endfor %}
    </li>
  </ul>
  
  {% comment %} Ring 1 {% endcomment %}
  <ul class="accessories-list">
    <li>
      <div>
        <img class="accessories_img" src="{% static 'home/itens_icon/acc_11.png' %}" alt="">
      </div>
      {% for point, ability in rings1_points|zip_lists:rings1_abilities %}
      <div class="abilityGroup">
        <div class="abilityContainer {% if editing %}editing{% endif %}">
          <div class="imgContainer">
            <img src="{% static 'home/images_engravings/'|add:ability|add:'.jpg' %}" alt="{{ ability }}">
          </div>
          <div class="pointContainer">
            <input type="text" class="editablePoint small-input revertable" value="{{ point }}" readonly oninput="validateInput(this, 3, 6)"> -&nbsp;
          </div>
          <div class="abilityContainer">
            <select class="editableAbility" disabled>
              <option selected value="{{ ability }}">{{ ability }}</option>
            </select>
          </div>
        </div>
      </div>
      {% endfor %}
    </li>
  </ul>
  
  {% comment %} Ring 2 {% endcomment %}
  <ul class="accessories-list">
    <li>
      <div>
        <img class="accessories_img" src="{% static 'home/itens_icon/acc_11.png' %}" alt="">
      </div>
      {% for point, ability in rings2_points|zip_lists:rings2_abilities %}
      <div class="abilityGroup">
        <div class="abilityContainer {% if editing %}editing{% endif %}">
          <div class="imgContainer">
            <img src="{% static 'home/images_engravings/'|add:ability|add:'.jpg' %}" alt="{{ ability }}">
          </div>
          <div class="pointContainer">
            <input type="text" class="editablePoint small-input revertable" value="{{ point }}" readonly oninput="validateInput(this, 3, 6)"> -&nbsp;
          </div>
          <div class="abilityContainer">
            <select class="editableAbility" disabled>
              <option selected value="{{ ability }}">{{ ability }}</option>
            </select>
          </div>
        </div>
      </div>
      {% endfor %}
    </li>
  </ul>
  
  {% comment %} Abilit Stone {% endcomment %}
  <h3 class="centered-text">{% translate "Ability Stone" %}</h3>
  <ul class="accessories-list">
    <li>
      <div>
        <img class="accessories_img" src="{% static 'home/ability_stone/abilitystone.png' %}" alt="">
      </div>
      {% for point, ability in ability_stone_points|zip_lists:ability_stone_abilities %}
      <div class="abilityGroup">
        <div class="abilityContainer {% if editing %}editing{% endif %}">
          <div class="imgContainer">
            <img src="{% static 'home/images_engravings/'|add:ability|add:'.jpg' %}" alt="{{ ability }}">
          </div>
          <div class="pointContainer">
            <input type="text" class="editablePoint small-input revertable" value="{{ point }}" readonly onblur="validateInput(this, 3, 12)"> -&nbsp;
          </div>
          <div class="abilityContainer">
            <select class="editableAbility" disabled>
              <option selected value="{{ ability }}">{{ ability }}</option>
            </select>
          </div>
        </div>
      </div>
      {% endfor %}
    </li>
  </ul>
  
  {% comment %} Engraving Slot {% endcomment %}
  <h3 class="centered-text">{% translate "Engraving Slots" %}</h3>
  <ul class="accessories-list">
    <li>
      <div>
        <img class="accessories_img" src="{% static 'home/engraving/engraving.jpg' %}" alt="">
      </div>
      <div class="abilityGroup">
        <div class="abilityContainer">
          <div class="imgContainer">
            <img src="{% static 'home/images_engravings/'|add:engraving_slot1_abilities|add:'.jpg' %}" alt="{{ engraving_slot1_abilities }}">
          </div>
          <div class="pointContainer">
            <input type="text" class="editablePoint small-input revertable" value="{{ engraving_slots_points.0 }}" readonly onblur="validateInput(this, 3, 12)"> -&nbsp;
          </div>
          <div class="abilityContainer">
            <select class="editableAbility" disabled>
              <option selected value="{{ engraving_slot1_abilities }}">{{ engraving_slot1_abilities }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="abilityGroup">
        <div class="abilityContainer">
          <div class="imgContainer">
            <img src="{% static 'home/images_engravings/'|add:engraving_slot2_abilities|add:'.jpg' %}" alt="{{ engraving_slot2_abilities }}">
          </div>
          <div class="pointContainer">
            <input type="text" class="editablePoint small-input revertable" value="{{ engraving_slots_points.1 }}" readonly oninput="validateInput(this, 3, 12)"> -&nbsp;
          </div>
          <div class="abilityContainer">
            <select class="editableAbility" disabled>
              <option selected value="{{ engraving_slot2_abilities }}">{{ engraving_slot2_abilities }}</option>
            </select>
          </div>
        </div>
      </div>
    </li>
  </ul>
  
  </div>

<script src="{% static 'home/js/resultado_js.js' %}"></script>
<script>
  function changeAbilityImage(event) {
    var selectElement = event.target;
    var ability = selectElement.value;
    
    // Pegamos o container de habilidades que engloba tanto a imagem quanto o select
    var abilityContainer = selectElement.parentElement.parentElement;
    
    // Buscamos a imagem dentro do container de habilidades
    var imgElement = abilityContainer.querySelector('img');
  
    if (imgElement && imgElement.tagName === 'IMG') {
        var basePath = "{% static 'home/images_engravings/' %}";
        imgElement.src = basePath + ability + '.jpg';
    } else {
        console.log('Elemento de imagem não encontrado ou não é uma tag IMG');
    }
  }
  
  // Adicione o evento de mudança a todos os elementos select das habilidades
  var abilitySelects = document.getElementsByClassName('editableAbility');
  if (abilitySelects.length > 0) {
    for (var i = 0; i < abilitySelects.length; i++) {
        abilitySelects[i].addEventListener('change', changeAbilityImage);
    }
  } else {
    console.log('Nenhum elemento encontrado com a classe "editableAbility"');
  }
</script>

<footer id="rodape">
  <div class="footer left-content">
      <p>
          {% translate "Did you find value in this project? Consider" %}
          <a href="https://nubank.com.br/pagar/xgnnu/wAhoMYA3vm" target="_blank" onclick="window.open(this.href, 'popup', 'width=1041,height=865'); return false;">
          {% translate "donate" %}
          </a>
          {% translate "to help maintain and constantly update this tool, keeping it available to you at all times!" %}
      </p>
  </div>
  <div class="footer right-content">
      {% translate "Developed by" %}
      <a href="mailto:renatodev4@gmail.com?subject=Contato Profissional">Renato Moraes</a>
  </div>
</footer>

</body>
</html>
