{% include 'duvidas/partials/head.html' %}

<body>
  <div class="nav-wrapper">
    <nav class="menu-container">
      <ul class="menu">
        <div class="left-container">
          <div class="left-elements">
            <span class="gerador-build-text">Quer gerar uma build automaticamente? Basta nos informar os engraves!<br></span>
            <div class="button button-geradorbuild" id="button-5">
              <div id="translate"></div> 
              <a href="/generate/">Gerador de Build</a>
            </div>
          </div>

  
          <div class="right-elements">
            <span class="gerador-build-text">Quer ser avisado quando tiver Rapport Lendario ou Wei pelo Telegram?<br></span>
            <div class="button button-lostmerchant" id="button-5">
              <div id="translate"></div> 
              <a href="#">Lost Merchant Bot</a> 
            </div>
          </div>
        </div>
      </ul>
    </nav>
  </div>

    <div class="box-formulario">        
      <div class="formulario">     
        <h1 class="title-form">
          <span class="subtitle-form">Obrigado pelo seu contato! Em breve responderemos sua mensagem!</span>
        </h1>
        <div class="botao-confirmacao">
          <a href="/generate/" class="botao rotacao">Página inicial</a>
        </div>
      </div>
    </div>
  </body>
</html>