{% load i18n %}

<body>
    <div class="nav-wrapper">
        <nav class="menu-container">
          <ul class="menu">
            <div class="left-container">
              <div class="left-elements">
                <span class="gerador-build-text">{% translate "Want to generate a build automatically? Just let us know the engraves!" %}<br></span>
                <div class="button button-geradorbuild" id="button-5">
                  <div id="translate"></div> 
                  <a href="/" class="button-link">{% translate "Build Generator" %}</a>
                </div>
              </div>

      
              <div class="right-elements">
                <span class="gerador-build-text">{% translate "Want to be notified when have Rapport Legendary or Wei via Telegram?" %}<br></span>
                <div class="button button-lostmerchant" id="button-5">
                  <div id="translate"></div> 
                  <a href="/merchantbot/" class="button-link">Lost Merchant Bot</a> 
                </div>
              </div>
            </div>
          </ul>
        </nav>
      </div>
 
    <div class="box-formulario">        
        
        <div class="formulario">
            
            <h1 class="title-form">
                <span class="subtitle-form">{% translate "Questions or Suggestions? Contact us!" %}</span>
            </h1>
            <form action="{% url 'enviar_email' %}" method="post">
                {% csrf_token %}
                <span>
                    <input type="text" class="input" id="nome" name="nome" placeholder="{% translate "Name" %}" autocomplete="off" required=""/>
                    <label for="nome"> <i class="icon icon-user-1"></i> </label>
                </span>
                <span>
                    <input type="text" class="input" id="email" name="email" placeholder="{% translate "E-mail" %}" autocomplete="off" required=""/>
                    <label for="email"> <i class="icon icon-mail-1"></i> </label>
                </span>
                <span>
                    <input type="text" class="input" id="assunto" name="assunto" placeholder="{% translate "Subject" %}" autocomplete="off" required=""/>
                    <label for="assunto"> <i class="icon icon-info"></i> </label>
                </span>
                <span>
                    <textarea type="text" class="textarea" id="mensagem" name="mensagem" rows="3" placeholder="{% translate "If you have any questions or want to report a bug, please write us a message. We will be ready to respond as soon as possible." %}" autocomplete="off" required=""></textarea>
                    <label for="mensagem"> <i class="icon icon-comment"></i> </label>
                </span>
                
                <span>
                    <input type="submit" value="{% translate "Send" %}" class="botao rotacao">
                </span>
            </form>
        </div>
    </div><!--Box Formulario--> 
    
  </body>
</html>